
@media screen and (max-width: 768px) {
    .column.one-third,
    .column.one-half,
    .column.one-fourth,
    .column.one-eighth {
        width: 100%;
    }
}
.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

.row {
    width:100%;
    margin: 1em 0;
    background: lightgray;
    border: 1px solid black;
}
.row {
    width:100%;
    margin: 1em 0;
    /*background: lightgray;*/
    /*border: 1px solid black;*/
}
.nav-links .row {
    background: none;
    border: none;


}

/*.rowblue {*/
    /*width:100%;*/
    /*margin: 1em 0;*/
    /*background: powderblue;*/
    /*border: 1px solid black;*/
/*}*/

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
}

.column.one-half {
    width: 50%;
    background: lightgray;
}

.column.one-third {
    width: 33.33%;
    background: lightblue;
}

.column.one-fourth {
    width: 25%;
    background: lightcoral;
}

.column.one-eighth {
    width: 12.5%;
    background: lightgoldenrodyellow;
}
.column.two-third {
        width: 66.666666%;
    background: lightgreen;
}
.column.three-eighth {
        width: 37.5%;
    background: lightslategrey;
}
.column.five-eighth {
    width: 62.5%;
    background: lightpink;
}
.column.two-fifths {
        width: 40%;
    background: lightcyan;
}
.column.three-fifths {
    width: 60%;
    background: lightsalmon;
}
.column.three-sevenths {
        width: 42.857%;
    background: lightseagreen;
}
.column.four-sevenths {
    width: 57.142%;
    background: lightsteelblue;
}
