
body {
	box-sizing: border-box;
	font-family: sans-serif;
}
	/* Small devices (tablets, 768px and up) */

	@media screen and (max-width:768px) {
		#main {
			float: left;
		}
		h1 {
			text-align: center;
			margin: 1em 0 0 0;
		}
		.sub-section {
			float: left;
		}
		.nav-links a {
			display: block;
			/*background: lightgray;*/
			/*padding: 0 70px;*/
			margin: 0 0 5px 0;
			padding-top: 10px;
			padding-bottom: 10px;
			text-align: center;
			font-size: 15px;

		}

		.row.alert-info {
			display: block;
			/*background: powderblue;*/
			max-width: 100%;
			padding: 1em 0;
			text-align: center;
			font-size: large;

		}
		.nav-links {
			float: none;
			padding-left: 0;
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
	/* Medium devices (desktops, 800px and up) */
	@media screen and (min-width:769px) {
        #main {
            float: left;
        }

        .sub-section {
            float: left;
        }

        .row.alert-info.hidden-on-desktop {
            display: none;
        }

        .nav-links a {
            top: 0;
            text-align: center;
            padding: 0 15px;
            font-size: 17px;
            margin: 0;
        }

        body > h1 {
            clear: both;
            float: left;
        }

        .nav-links {
            display: inline;
            float: right;
        }

        .nav-links li {
            float: right;
            display: inline;
            background: none;
            border: none;
        }
    }
	/*!* Large devices (large desktops, 1200px and up) *!*/
	/*@media screen and (min-width:1200px) {*/
		/*#main {*/
			/*float: left;*/
		/*}*/
		/*.sub-section {*/
			/*float: left;*/
		/*}*/
		/*.alert-info.hidden-on-desktop {*/
			/*display: none;*/
		/*}*/
		/*.nav-links a {*/
			/*top: 0;*/
			/*text-align: center;*/
			/*padding: 0px 15px;*/
			/*font-size: 17px;*/
			/*margin: 0;*/
		/*}*/
		/*body>h1 {*/
			/*clear: both;*/
			/*float: left;*/
			/*margin: 0;*/
		/*}*/
		/*.nav-links {*/
			/*float: right;*/
		/*}*/
	/*}*/


	#main {
		float: left;
		max-width: 500px;
	}
	.sub-section {
		float: left;
		max-width: 500px;
	}
	.sub-section {
		font-style: italic;
	}
	li {
		display: inline;
	}
	img {
		width: 100%;
	}
	footer {
			clear: both;
			 left: 0 ;
			 right: 0;
			 bottom: 0;
			 height: 100%;
			padding-top: 300px;
		 }
	#social-media-links {
		float: right;
	}

	#social-media-links li {
		list-style: none;
		float: left;
		letter-spacing: 1em;
	}    