.fancy-header {
    color: White;
    text-decoration: underline;
    text-align: center;
}
.h1, h2 {
    text-decoration: underline;
    text-align: center;
}

html {
    background-color: darkgoldenrod;
    background-image: url(pexels-photo-785419.jpeg);
    font-family: 'Fjord One', serif;
    text-align: center;
}

body {
    color: #F9F9FF;
}
ol{
    list-style-type: armenian;
}
ul {
    list-style-type: circle;
}
.centered {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;

}